<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/b40afd65fb.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between">
      
      <nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/profile">Dashboard</a>
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/login">Dashboard</a>
        <a class="nav-link" href="/login">Login</a>
        {{/if}}
        
      </nav>

    </header>
    <main class="container container-fluid mt-5 pt-5">
      <div class="home mb-4">
        <h1>
          <span role="img" aria-label="money">🖥️</span>
          <a href="/">Tech Blog!</a>
        </h1>
      </div>
      <!-- Render the sub layout -->
      {{{ body }}}
      
    </main>
    
    <footer>
      <h3>&copy; 2024 Silvia Reyes. All rights Reserved</h2>
      <a href="https://github.com/NathaliaReyes" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/silvia-reyes-2b907123b/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://nathaliareyes.github.io/portfolio/" target="_blank"><i class="fas fa-briefcase"></i></a>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{else}}
  <script src="/js/login.js"></script>
  {{/if}}
</body>

</html>
