<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-12">
    <h2 class="header-line">
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
      <figcaption class="blockquote-footer">Posted by {{post.user.name}} on {{format_date post.created_at}}</figcaption>
  </div>
</div>
{{/each}}
