<div class="containerform">
  <div class="col-12">
    <h2>Please Login</h2>

    <form class="form login-form">
      <div class="form-group-login">
        <input type="text" id="username-login" required/>
        <label for="username-login">Username:</label>
      </div>
      <div class="form-group-login">
        <input  type="password" id="password-login" required/>
        <label for="password-login">Password:</label>
      </div>
      <div>
        <button class="btnform" type="submit">Login!</button>
      </div>
      <div>
        <p class="text">Don't have an account? <a href="/signup">Register</a></p>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
