<div>
    <form class="form newpost-form">
      <div class="form-group">
        <label for="newpost-title">Title:</label>
        <input class="form-input" type="text" id="newpost-title"/>
      </div>
      <div class="form-group">
        <label for="newpost-content">Content:</label>
        <input class="form-input" type="text" id="newpost-content"/>
      </div>
      <div class="button-container">
        <button class="btn" type="submit">Create Post</button>
      </div>
    </form>
</div>

<script src="/js/newpost.js"></script>