
{{#each posts as |post|}}
<div>
    <a href="/post/{{id}}">
        <h2>{{title}}</h1>
    </a>
        <h5>Created on {{format_date created_at}}</h3>

</div>
{{/each}}

<div class="button-container">
    <a href="api/posts/new"><button class="btn" type="submit">+ New Post</button></a>
</div>